<nav class="navbar navbar-expand-md navbar-dark bg-white header">
  <div class="container">
    <a
      class="navbar-brand"
      href="https://creativecollectiveofindia.org/"
      (click)="setPageTitle('CCI')"
    >
      <img src="assets/images/logo.png" alt="CCI" />
    </a>
    <app-language-switcher
      class="d-block d-sm-none ml-auto"
    ></app-language-switcher>
    <button
      class="navbar-toggler ml-2"
      type="button"
      data-toggle="collapse"
      data-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse ml-auto" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="isCreator">
          <a
            routerLink="/submission_form"
            routerLinkActive="active"
            class="nav-link"
            (click)="setPageTitle('New Submission')"
            >{{ translation?.links.newSubmission }}</a
          >
        </li>
        <li class="nav-item" *ngIf="isCreator || isReviewer">
          <a
            routerLink="/submission-list"
            routerLinkActive="active"
            class="nav-link"
            (click)="setPageTitle('View Submissions')"
            >{{ translation?.links.viewSubmission }}</a
          >
        </li>
        <li class="nav-item">
          <a
            routerLink="/published-list"
            routerLinkActive="active"
            class="nav-link"
            (click)="setPageTitle('Featured Content')"
            >{{ translation?.links.featuredContent }}</a
          >
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="https://creativecollectiveofindia.org/"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >{{ translation?.links.toolkit }}</a
          >
          <div class="dropdown-menu" id="dropdownMenu">
            <a
              class="dropdown-item"
              href="https://creativecollectiveofindia.org/homepage/creative-brief"
              >{{ translation?.links.creativeBrief }}</a
            >
            <a
              class="dropdown-item"
              href="https://creativecollectiveofindia.org/homepage/creative-process"
              >{{ translation?.links.howToParticipate }}</a
            >
            <a
              class="dropdown-item"
              href="https://creativecollectiveofindia.org/homepage/faq-s"
              >{{ translation?.links.faqs }}</a
            >
          </div>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="https://creativecollectiveofindia.org/"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >{{ translation?.links.challenges }}</a
          >
          <div class="dropdown-menu" id="dropdownMenu">
            <a
              href="{{ list.link_to_cms }}"
              class="dropdown-item"
              *ngFor="let list of challenges"
              >{{ list.title }}</a
            >
          </div>
        </li>

        <li class="nav-item">
          <a
            href="https://creativecollectiveofindia.org/get-in-touch"
            class="nav-link"
            >{{ translation?.links.getinTouch }}</a
          >
        </li>

        <li class="nav-item">
          <a
            href="http://creativecollectiveofindia.org/"
            class="nav-link"
            (click)="setPageTitle('CCI - Home')"
            >{{ translation?.links.home }}</a
          >
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/login" class="nav-link">{{
            translation?.links.login
          }}</a>
        </li>
        <li class="nav-item" *ngIf="!isLoggedIn">
          <a routerLink="/registration" class="nav-link">{{
            translation?.links.register
          }}</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isLoggedIn">
          <a routerLink="/admin" class="nav-link">Admin Dashboard</a>
        </li> -->
        <li class="nav-item dropdown" *ngIf="isLoggedIn">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            {{ isLoggedIn.data.user.first_name }}&nbsp;{{
              isLoggedIn.data.user.last_name
            }}
          </a>
          <div class="dropdown-menu" id="dropdownMenu">
            <a
              routerLink="/registration/{{ isLoggedIn.data.user.id }}"
              class="dropdown-item"
              >{{ translation?.links.editProfile }}</a
            >
            <a routerLink="/login" class="dropdown-item">{{
              translation?.links.logout
            }}</a>
          </div>
        </li>
      </ul>
    </div>
    <app-language-switcher
      class="d-none d-sm-block ml-3"
    ></app-language-switcher>
  </div>
</nav>
