<div id="container">
  <div id="detail" class="row">
    <div class="col-sm-12">
      <div *ngIf="saveErrorMessage">
        <div class="alert alert-warning" style="text-align: center;">
          {{ saveErrorMessage }}
        </div>
      </div>
      <div *ngIf="saveSuccessMessage">
        <div class="alert alert-success" style="text-align: center;">
          {{ saveSuccessMessage }}
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4" id="challengeDetail">
      <div class="box">
        <div class="review-heading">
          {{ translation?.headings.creativeBrief }}
        </div>
        <div *ngIf="challengeDetail.title">
          <h5>
            <b> {{ challengeDetail.title }} </b>
          </h5>
        </div>
        <div *ngIf="challengeDetail.introduction">
          <b>{{ translation?.labels.introduction }}</b
          ><br />
          <div [innerHTML]="challengeDetail.introduction"></div>
          <br />
        </div>
        <div *ngIf="challengeDetail.description">
          <b>{{ translation?.labels.creativeBrief }}</b
          ><br />
          <div [innerHTML]="challengeDetail.description"></div>
          <br />
        </div>
        <div *ngIf="challengeDetail.key_behaviour">
          <b>{{ translation?.labels.keyBehaviour }}</b
          ><br />
          <div [innerHTML]="challengeDetail.key_behaviour"></div>
          <br />
        </div>
        <div *ngIf="challengeDetail.good_to_have_information">
          <b>{{ translation?.labels.goodToHaveInfo }}</b
          ><br />
          <div [innerHTML]="challengeDetail.good_to_have_information"></div>
          <br />
        </div>
        <div *ngIf="challengeDetail.challenge_goal">
          <b>{{ translation?.labels.challengeGoal }}</b
          ><br />
          <div [innerHTML]="challengeDetail.challenge_goal"></div>
          <br />
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4" id="submissionDetail">
      <div class="box">
        <div class="review-heading">
          {{ translation?.headings.submission }}
        </div>
        <div class="submission-content">
          <form class="ui form" [formGroup]="submissionForm">
            <div class="form-group">
              <label class="d-block">{{ translation?.labels.title }} * </label>
              <div class="field">
                <input
                  autofocus=""
                  formControlName="title"
                  class="form-control ng-pristine ng-valid ng-touched"
                  type="text"
                  [placeholder]="translation?.labels.enterTitle"
                />
                <div
                  class="ui pointing error basic label below"
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['title'].errors &&
                    submissionForm.controls['title'].errors.required
                  "
                >
                  {{ translation?.messages.titleRequired }}
                </div>
                <div
                  class="ui pointing error basic label below"
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['title'].errors &&
                    submissionForm.controls['title'].errors.maxlength
                  "
                >
                  {{ translation?.messages.titleCharLimit }}
                </div>
              </div>
            </div>
            <div *ngIf="submittedOn">
              <label
                >{{ translation?.labels.submittedOn }}:
                {{ submittedOn | date: ["d MMM y hh:mm"] }}</label
              >
            </div>
            <div *ngIf="submissionStatus">
              <label
                >{{ translation?.labels.status }}:
                {{ submissionStatus | titlecase }}</label
              >
            </div>
            <div class="form-group">
              <label class="d-block"
                >{{ translation?.labels.chooseChallenge }} *
              </label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="challenge_category"
                  class="form-control ng-pristine ng-valid ng-touched"
                  (change)="getChallenges($event)"
                >
                  <option value="" disabled>{{
                    translation?.options.chooseChallenge
                  }}</option>

                  <option
                    [value]="challenge.id"
                    [ngValue]="challenge_category"
                    *ngFor="let challenge of categories; index as i"
                  >
                    {{ challenge.title }}
                  </option>
                </select>
                <div
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['challenge_category'].errors &&
                    submissionForm.controls['challenge_category'].errors
                      .required
                  "
                >
                  <div class="error">
                    {{ translation?.messages.challengeRequired }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="d-block"
                >{{ translation?.labels.chooseTopic }} *
              </label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="challenge"
                  class="form-control ng-pristine ng-valid ng-touched"
                  (change)="onChanges($event)"
                >
                  <option value="" disabled
                    >{{ translation?.labels.chooseTopic }}
                  </option>
                  <option
                    [value]="topic.id"
                    *ngFor="let topic of topics"
                    [ngValue]="challenge"
                  >
                    {{ topic.title }}
                  </option>
                </select>
                <div
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['challenge'].errors &&
                    submissionForm.controls['challenge'].errors.required
                  "
                >
                  <div class="error">
                    {{ translation?.messages.topicRequired }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="d-block"
                >{{ translation?.labels.chooseMediaType }} *
              </label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="media_type"
                  class="form-control ng-pristine ng-valid ng-touched"
                  (change)="selectFileType($event)"
                >
                  <option value="" disabled
                    >{{ translation?.options.chooseMediaType }}
                  </option>
                  <option
                    [value]="media.value"
                    *ngFor="let media of submissionMediaType"
                    >{{ media.label }}</option
                  >
                </select>
                <div
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['media_type'].errors &&
                    submissionForm.controls['media_type'].errors.required
                  "
                >
                  <div class="error">
                    {{ translation?.messages.mediaRequired }}
                  </div>
                </div>
              </div>
            </div>
            <input autofocus="" formControlName="file" type="hidden" />
            <div class="form-group">
              <div class="field dropzone" appDnd>
                <input
                  autofocus=""
                  #fileDropRef
                  id="fileDropRef"
                  formControlName="hidden_file"
                  (change)="onFileSelect($event)"
                  class="ng-pristine ng-valid ng-touched fileinput"
                  type="file"
                  accept="{{ accept }}"
                />
                <img src="assets\images\dragdrop.png" />
                <label for="fileDropRef" class="d-block filelabel"
                  >{{ translation?.options.browseFile }}
                </label>
                <div
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['hidden_file'].errors &&
                    submissionForm.controls['hidden_file'].errors.required
                  "
                >
                  <div class="error">
                    {{ translation?.messages.fileRequired }}
                  </div>
                </div>
              </div>
            </div>
            <input autofocus="" formControlName="file" type="hidden" />
            <div class="files-list">
              <div
                class="single-file"
                *ngFor="let file of files; let i = index"
              >
                <div class="container">
                  <div class="row file-div-container">
                    <span class="col-sm-12">&nbsp;</span>
                    <span class="col-sm-10">
                      <h6 class="name">
                        <label>{{ file?.name }}</label>
                      </h6>
                      <p class="size">
                        <label>{{ formatBytes(file?.size) }}</label>
                      </p>
                      <div *ngIf="file.progress">
                        <div *ngIf="file.progress.status === 'progress'">
                          <div
                            class="progress"
                            style="height: 20px; margin-bottom: 20px;"
                          >
                            <div
                              class="progress-bar"
                              role="progressbar"
                              [style.width.%]="file.progress.message"
                              aria-valuenow="25"
                              aria-valuemin="0"
                              aria-valuemax="100"
                            >
                              {{ file.progress.message }}%
                            </div>
                          </div>
                        </div>
                      </div>
                    </span>
                    <span class="col-sm-2">
                      <img
                        src="assets/images/ic-delete-file.svg"
                        class="delete"
                        width="20px"
                        (click)="deleteFile(file)"
                      />
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4" id="submissionDetail">
      <div class="box">
        <form class="ui form" [formGroup]="submissionForm">
          <div class="review-heading">
            {{ translation?.headings.submissionDetails }}
          </div>
          <h6>{{ translation?.headings.targetAudience }}</h6>
          <div class="form-group" id="langCheckDiv">
            <label class="d-block"
              >{{ translation?.labels.targetLanguage }} *
            </label>
            <h6>{{ translation?.labels.selectAnyTwo }}</h6>
            <div>
              <div *ngIf="langErrorMessage">
                <div class="error">
                  {{ langErrorMessage }}
                </div>
              </div>
            </div>
            <div class="field scroll">
              <div *ngFor="let submissionLanguage of submissionLanguages">
                <label>
                  <input
                    type="checkbox"
                    [value]="submissionLanguage.value"
                    [disabled]="disableControls"
                    [attr.checked]="
                      checkedValuesLanguages.indexOf(submissionLanguage.value) >
                      -1
                        ? 'checked'
                        : null
                    "
                    (change)="onCheckLanguages($event)"
                  />
                  {{ submissionLanguage.label }}
                </label>
              </div>
              <div
                class="ui pointing error basic label below"
                *ngIf="
                  isSubmitted &&
                  submissionForm.controls['language'].errors &&
                  submissionForm.controls['language'].errors.required
                "
              >
                {{ translation?.messages.selectAnyTwoLanguage }}
              </div>
              <div
                class="mx-sm-4 mb-3"
                *ngIf="checkedValuesLanguages.indexOf('other') != -1"
              >
                <label class="d-block"
                  >{{ translation?.labels.ifOtherSpecify }} :</label
                >
                <input
                  autofocus=""
                  formControlName="language_other"
                  class="form-control ng-pristine ng-valid ng-touched"
                  type="text"
                  [placeholder]="translation?.labels.enterLanguage"
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="d-block"
              >{{ translation?.labels.regionbelongTo }} *
            </label>
            <div class="field">
              <select
                autofocus=""
                formControlName="region"
                class="form-control ng-pristine ng-valid ng-touched"
              >
                <option value="" disabled>{{
                  translation?.options.selectRegion
                }}</option>
                <option
                  [value]="submissionRegion.value"
                  *ngFor="let submissionRegion of submissionRegions"
                  >{{ submissionRegion.label }}</option
                >
              </select>
              <div
                *ngIf="isSubmitted && submissionForm.controls['region'].errors"
              >
                <div class="error">
                  {{ translation?.messages.regionRequired }}
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="d-block">
              {{ translation?.labels.additionalDetails }}
            </label>
            <div class="field">
              <button
                class="btn btn-success btn-sm mr-3"
                (click)="additionalFields = true"
              >
                {{ translation?.buttons.ok }}
              </button>
              <button
                class="btn btn-light btn-sm"
                (click)="additionalFields = false"
              >
                {{ translation?.buttons.skip }}
              </button>
            </div>
          </div>
          <ng-container *ngIf="additionalFields == true">
            <div class="form-group">
              <label class="d-block"
                >{{ translation?.labels.incomeBracket }}
              </label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="income_bracket"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="" disabled>{{
                    translation?.options.selectIncomeBracket
                  }}</option>
                  <option
                    [value]="income.value"
                    *ngFor="let income of submissionIncomeBracket"
                    >{{ income.label }}</option
                  >
                </select>
                <div
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['income_bracket'].errors &&
                    submissionForm.controls['income_bracket'].errors.required
                  "
                >
                  <div class="error">
                    {{ translation?.messages.incomeBracketRequired }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="genderValue">
              <label class="d-block">{{
                translation?.labels.targetGender
              }}</label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="gender"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="" disabled>{{
                    translation?.options.selectGender
                  }}</option>
                  <option
                    [value]="gender.value"
                    *ngFor="let gender of submissionGender"
                    >{{ gender.label }}</option
                  >
                </select>
              </div>
              <div
                class="mx-sm-4 mb-3"
                *ngIf="submissionForm.controls.gender.value == 'others'"
              >
                <label class="d-block"
                  >{{ translation?.labels.ifOtherSpecify }} :</label
                >
                <input
                  autofocus=""
                  formControlName="gender_other"
                  class="form-control ng-pristine ng-valid ng-touched"
                  type="text"
                  [placeholder]="translation?.labels.enterGender"
                />
              </div>
              <div *ngIf="genderErrorMessage">
                <div class="error">
                  {{ genderErrorMessage }}
                </div>
              </div>
              <div
                *ngIf="
                  (isSubmitted && submissionForm.controls['gender'].errors) ||
                  submissionForm.controls['gender_other'].errors
                "
              >
                <div class="error">
                  {{ translation?.messages.genderRequired }}
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="d-block">{{ translation?.labels.targetAge }}</label>
              <div class="field">
                <select
                  multiple
                  autofocus=""
                  formControlName="age_group"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="" disabled>{{
                    translation?.options.selectAgeGroup
                  }}</option>
                  <option
                    [value]="age.value"
                    *ngFor="let age of submissionAgeGroup"
                    >{{ age.label }}</option
                  >
                </select>
                <div
                  *ngIf="
                    isSubmitted && submissionForm.controls['age_group'].errors
                  "
                >
                  <div class="error">
                    {{ translation?.messages.ageRequired }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="d-block">{{
                translation?.labels.targetEducation
              }}</label>
              <div class="field">
                <select
                  multiple
                  autofocus=""
                  formControlName="educational_background"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="" disabled>{{
                    translation?.options.selectEducationBackground
                  }}</option>
                  <option
                    [value]="edu.value"
                    *ngFor="let edu of submissionEducation"
                    >{{ edu.label }}</option
                  >
                </select>
              </div>
            </div>
            <div class="form-group" id="sectorValue">
              <label class="d-block">{{
                translation?.labels.targetSector
              }}</label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="sector"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="">{{
                    translation?.options.selectSector
                  }}</option>
                  <option
                    [value]="sector.value"
                    *ngFor="let sector of submissionSector"
                    >{{ sector.label }}</option
                  >
                </select>
                <div
                  class="mx-sm-4 mb-3"
                  *ngIf="submissionForm.controls.sector.value == 'other'"
                >
                  <label class="d-block"
                    >{{ translation?.labels.ifOtherSpecify }} :</label
                  >
                  <input
                    autofocus=""
                    formControlName="sector_other"
                    class="form-control ng-pristine ng-valid ng-touched"
                    type="text"
                    [placeholder]="translation?.labels.enterSector"
                  />
                </div>
                <div *ngIf="sectorErrorMessage">
                  <div class="error">
                    {{ sectorErrorMessage }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="targetAudienceCheckDiv">
              <label class="d-block"
                >{{ translation?.labels.targetOccupation }}
              </label>
              <h6>{{ translation?.labels.selectAllThatApply }}</h6>

              <div *ngIf="targetAudienceErrorMessage">
                <div class="error">
                  {{ targetAudienceErrorMessage }}
                </div>
              </div>
              <div class="form-group">
                <div class="scroll">
                  <div
                    *ngFor="
                      let submissionTargetAudience of submissionTargetAudiences
                    "
                  >
                    <label>
                      <input
                        type="checkbox"
                        [value]="submissionTargetAudience.value"
                        [disabled]="disableControls"
                        [attr.checked]="
                          selectedTG.indexOf(submissionTargetAudience.value) >
                          -1
                            ? 'checked'
                            : null
                        "
                        (change)="onCheckTargetAudience($event)"
                      />
                      {{ submissionTargetAudience.label }}
                    </label>
                  </div>
                </div>
                <div
                  class="ui pointing error basic label below"
                  *ngIf="
                    isSubmitted &&
                    submissionForm.controls['target_audience'].errors &&
                    submissionForm.controls['target_audience'].errors.required
                  "
                >
                  {{ translation?.messages.selectTargetAudience }}
                </div>
                <div
                  class="mx-sm-4 mb-3"
                  *ngIf="selectedTG.indexOf('other') != -1"
                >
                  <label class="d-block"
                    >{{ translation?.labels.ifOtherSpecify }} :</label
                  >
                  <input
                    autofocus=""
                    formControlName="target_audience_other"
                    class="form-control ng-pristine ng-valid ng-touched"
                    type="text"
                    [placeholder]="translation?.labels.enterTargetAudience"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="d-block"
                >{{ translation?.labels.targetLocation }}
              </label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="geography"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="" disabled>{{
                    translation?.options.selectLocation
                  }}</option>
                  <option
                    [value]="submissionGegraphy.value"
                    *ngFor="let submissionGegraphy of submissionGeographies"
                    >{{ submissionGegraphy.label }}</option
                  >
                </select>
                <div
                  *ngIf="
                    isSubmitted && submissionForm.controls['geography'].errors
                  "
                >
                  <div class="error">
                    {{ translation?.messages.locationRequired }}
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group" id="specialConditionValue">
              <label class="d-block">{{
                translation?.labels.specialCondition
              }}</label>
              <div class="field">
                <select
                  autofocus=""
                  formControlName="special_condition"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="">{{
                    translation?.options.selectSpecialCondition
                  }}</option>
                  <option
                    [value]="special.value"
                    *ngFor="let special of submissionSpecialCondition"
                    >{{ special.label }}</option
                  >
                </select>
                <div
                  class="mx-sm-4 mb-3"
                  *ngIf="
                    submissionForm.controls.special_condition.value == 'other'
                  "
                >
                  <label class="d-block"
                    >{{ translation?.labels.ifOtherSpecify }} :</label
                  >
                  <input
                    autofocus=""
                    formControlName="special_condition_other"
                    class="form-control ng-pristine ng-valid ng-touched"
                    type="text"
                    [placeholder]="translation?.labels.enterSpecialCondition"
                  />
                </div>
                <div *ngIf="specialAudienceErrorMessage">
                  <div class="error">
                    {{ specialAudienceErrorMessage }}
                  </div>
                </div>
              </div>
            </div>
          </ng-container>

          <hr />
          <div *ngIf="submissionStatus == 'draft'">
            <h6 [innerHTML]="translation?.texts.termsOfSubmission"></h6>
            <h6>
              <input type="checkbox" (change)="check($event)" />&nbsp;
              {{ translation?.texts.agreeTerms }}
            </h6>
            <button
              id="submitSubmission"
              href="#submitSubmissionModel"
              style="display: none;"
              data-toggle="modal"
            ></button>
            <button
              (click)="checkSubmission('submitted')"
              style="margin-right: 5px;"
              [disabled]="checkSubmit !== 'true'"
              class="btn trigger-btn btn-success"
            >
              {{ translation?.buttons.submit }}
            </button>
            <button (click)="resetSubmission()" class="btn">
              {{ translation?.buttons.reset }}</button
            ><br /><br />
          </div>
          <div
            *ngIf="
              submissionStatus == 'submitted' || submissionStatus == 'published'
            "
          >
            <button
              href="#withdrawModel"
              class="btn trigger-btn btn-primary"
              data-toggle="modal"
              [disabled]="submissionForm.controls.withdraw_reasons.value == ''"
            >
              {{ translation?.buttons.withdrawSubmission }}
            </button>
            <br /><br />
          </div>
          <div
            *ngIf="
              submissionStatus == 'withdrawn' ||
              submissionStatus == 'submitted' ||
              submissionStatus == 'published'
            "
          >
            <div class="form-group" id="reasonValue">
              <div class="field">
                <label>{{ translation?.labels.withdrawReason }}</label>
                <select
                  autofocus=""
                  formControlName="withdraw_reasons"
                  class="form-control ng-pristine ng-valid ng-touched"
                >
                  <option value="" disabled>{{
                    translation?.options.selectReason
                  }}</option>
                  <option
                    [value]="reason.value"
                    *ngFor="let reason of submissionWithdrawReasons"
                    >{{ reason.label }}</option
                  >
                </select>
                <div *ngIf="submissionForm.controls['withdraw_reasons'].errors">
                  <div class="error">
                    {{ translation?.messages.withdrawReasonRequired }}
                  </div>
                </div>
              </div>
              <div *ngIf="reasonsErrorMessage">
                <div class="error">
                  {{ reasonsErrorMessage }}
                </div>
              </div>
            </div>
          </div>
          <div id="withdrawModel" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">
                  <h6>
                    {{ translation?.messages.withdrawWarning }}
                  </h6>
                  <button class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-info" data-dismiss="modal">
                    {{ translation?.buttons.cancel }}
                  </button>
                  <button
                    (click)="updateSubmission('withdrawn')"
                    data-dismiss="modal"
                    class="btn btn-danger"
                  >
                    {{ translation?.buttons.withdraw }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="submitSubmissionModel" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content">
                <div class="modal-header">
                  <h6>
                    {{ translation?.messages.submissionWarning }}
                  </h6>
                  <button class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-info" data-dismiss="modal">
                    {{ translation?.buttons.cancel }}
                  </button>
                  <button
                    (click)="updateSubmission('submitted')"
                    data-dismiss="modal"
                    class="btn btn-danger"
                  >
                    {{ translation?.buttons.ok }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <div id="submissionSuccessModel" class="modal fade">
            <div class="modal-dialog modal-confirm">
              <div class="modal-content center">
                <div class="modal-header">
                  <h6>{{ translation?.messages.submissionSuccessful }}</h6>
                  <button class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                  </button>
                </div>
                <div class="modal-footer" style="display: block;">
                  <button
                    data-dismiss="modal"
                    (click)="redirectToListView()"
                    class="btn btn-success"
                  >
                    {{ translation?.buttons.ok }}
                  </button>
                </div>
              </div>
            </div>
          </div>
          <button
            id="submissionSuccessModelBtn"
            href="#submissionSuccessModel"
            style="display: none;"
            data-toggle="modal"
          ></button>
          <div *ngIf="loading == true" id="preloader">
            <div id="loader"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
