#submissionList {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

a.disabled {
  color: gray;
  pointer-events: none;
  cursor: default;
}
