<section class="resetpassword-wrap mtb-40">
  <div class="container">
     <div class="page-desc">
        <div class="row justify-content-center">
           <div class="col-md-8">
              <h1>Reset Password</h1>
              <div class="alert alert-danger" *ngIf="resetError">
                 {{ resetError }}
              </div>
              <div class="alert alert-success" *ngIf="success">
                 {{success}}
              </div>
              <form [formGroup]="resetForm" >
                 <div class="v-input v-ext-input selectable icon-right" input-name="text-input">
                    <div class="form-group">
                       <label for="password">Enter New Password *</label>
                       <input type="password" formControlName="password" class="form-control" required>
                       <div *ngIf="resetForm.controls['password'].invalid && (resetForm.controls['password'].dirty || resetForm.controls['password'].touched)" class="error">
                          <div *ngIf="resetForm.controls['password'].errors">
                             Password should contain atleast 6 letters
                          </div>
                       </div>
                    </div>
                    <div class="form-group">
                       <label for="password">Confirm Password *</label>
                       <input type="password" formControlName="password1" id="password1" class="form-control" required>
                       <div *ngIf="resetForm.controls['password1'].invalid && (resetForm.controls['password1'].dirty || resetForm.controls['password1'].touched)" class="error">
                          <div *ngIf="resetForm.controls['password1'].errors">
                             <div class="ui pointing error basic label below" *ngIf="resetForm.controls['password1'].value != resetForm.controls['password'].value ">
                                password does not match!
                             </div>
                          </div>
                       </div>
                    </div>
                    <div *ngIf="loading==true" id="preloader">
                      <div id="loader"></div>
                    </div>
                 </div>
                 <div class="form-group">
                    <button (click)="reset()" [disabled]="!resetForm.valid" class="btn btn-primary">Reset Password</button>
                 </div>
              </form>
           </div>
        </div>
     </div>
  </div>
</section>
